*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    margin: 15px;
    background-image: url(bg1.jpg);
	
}

#mainDiv{
    margin: 50px;
  
	background-color: skyblue;
    height: 450px;
    text-align: center;
}

#titleDiv{
    height: 80px;
    padding: 25px 0px;
    border: 4px dotted grey;
    border-style: outset;
    text-decoration: underline overline;
    background-color: beiges;
    text-align: center;
    font-size: 300%;
    font-weight: bolder;
}